.itemsContainer {
  display: flex;
  padding: 2rem 0 6rem 0; /* set 2rem to 6rem if below applied*/
  position: relative;
  gap: 2rem;
}

.itemContainer {
  width: 25rem;
  height: 37.5rem;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid rgb(20, 177, 169);
  display: flex;
  justify-content: center;
  align-items: center;
}

.exploremore {
  font-size: 2rem;
  color: rgb(20, 177, 169);
  display: inline-block;
}

.exploremore:hover {
  color: rgb(12, 100, 96);
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 2rem 0 6rem 0;
}

.swiperSlide img {
  display: block;
  width: 100%;
}

@media only screen and (min-width: 769px) {
  .swiperSlide:first-child {
    transition: transform 100ms;
  }

  .swiperSlide:first-child img {
    transition: box-shadow 500ms;
  }

  .swiperSlide.swiperSlide-active:first-child {
    transform: translateX(50%);
    z-index: 2;
  }

  .swiperSlide.swiperSlide-active:first-child img {
    box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
  }

  .swiperSlide:nth-child(2) {
    transition: transform 100ms;
  }

  .swiperSlide.swiperSlide-next:nth-child(2) {
    transform: translateX(55%);
    z-index: 1;
  }

  .swiper[dir="rtl"] .swiperSlide.swiperSlide-active:first-child {
    transform: translateX(-50%);
  }

  .swiper[dir="rtl"] .swiperSlide.swiperSlide-next:nth-child(2) {
    transform: translateX(-55%);
  }
}
